<!--
will have 2 input with name, price , 
with a button to show all the tailor
-->
<% include partials/header %>
        <a href="/tailors/add">Add Tailor</a>
        <a href="/tailors">Tailors</a>
 <% include partials/footer %>