<% include ../main/partials/header %>
<form action="/add" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" value="">
    <label for="location">Location: </label>
    <input type="text" name="location" value="">
    <label for="email">Email: </label>
    <input type="email" name="email" value="">
    <label for="price">Price: </label>
    <input type="text" name="price" value="">
    <input type="submit" value="submit">
</form>
<% include ../main/partials/footer %>
